@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  padding : 0; 
}

html, body {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,#00A884 0%, #00A884 130px,#E3E2DE 130px, #E3E2DE 100%);
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  color: #8696A0;
}

body h1{
  color : black;
}
